<!-- start custom footer snippets -->
<!-- Código de Ley Europea: https://cookieconsent.osano.com/download/ -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "transparent",
      "text": "#14a7d0",
      "border": "#14a7d0"
    }
  },
  "content": {
    "message": "Este sitio web utiliza cookies. Si NO ACEPTA su uso..",
    "dismiss": "¡ACEPTO!",
    "link": "Sigue Leyendo",
    "href": "https://ciberninjas.com/aviso-legal/"
  }
});
</script>
<!-- end custom footer snippets -->