<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="Logotipo de Ciberninjas. Página web escrita por Pablo Álvarez Corredera" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}
		<a class="site-title" aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
            </a>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        <li><a href="/programa-gratis/" rel="follow" target="_blank" title="Recursos y repositorios impresionantes de miles de cursos, libros, infografías y mucho más. Con lo que convertirte un auténtico Ciberninja de la programación y el desarrollo">Programar Gratis 💻</a></li>
        <li><a href="/guias/" rel="follow" target="_blank" title="Guías gratis de tecnología sobre programación de campos temáticos relacionados a las profesiones digitales">Guías 📓</a></li>
        <li><a href="/eventos/" rel="follow" target="_blank" title="Eventos diarios en directo que se van realizando sobre las temáticas de desarrollo, tecnología, ciberseguridad, ciencia, diseño, etc">Eventos 📆</a></li>
        <li><a href="https://es.jooble.org/" rel="follow" target="_blank" title="Encuentra trabajo como programador"></a></li>
        <li><a href="/amazon/" rel="follow" target="_blank" title="Encuentra trabajo como programador">Tienda 🎁</a></li>
        <li><a href="https://es.jooble.org/" rel="follow" target="_blank" title="Encuentra trabajo como programador">Empleos ‍👩‍💻</a></li>
        <li><a href="/buscador/" rel="follow" target="_blank" title="El mejor buscador sobre programación del mundo, que te ayudará a alcanzar tus metas">Buscador 🔍</a></li>
    </ul>

	</nav>
</header>
