<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="Logotipo de Ciberninjas. Página web escrita por Pablo Álvarez Corredera" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}
		<a class="site-title" aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
            </a>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>
    <!-- Menu -->
    <ul class="hide">
        <li><a href="/programa-gratis/" title="Recursos y repositorios impresionantes de miles de cursos, libros, infografías y mucho más. Con lo que convertirte un auténtico Ciberninja de la programación y el desarrollo">Programar 💻</a></li>
        <li><a href="/profesiones-digitales/" title="Conoce las mejores profesionales tecnológicas del futuro">Profesiones 👩‍💻</a></li>
        <li><a href="https://es.jooble.org/" target="_blank" title="Con Jooble puedes encontrar trabajo como programador con, desarrollador web o cualquier otra profesión digital">Buscar Trabajo ‍💼</a></li>
        <li><a href="/guias/" title="Guías gratis de tecnología sobre programación de campos temáticos relacionados a las profesiones digitales">Guías 📓</a></li>
        <li><a href="/amazon/" title="Mas mejores ofertas y recomendaciones para programadores ninjas">Tienda 🎁</a></li>
        <li><a href="/buscador/" title="El mejor buscador sobre programación del mundo, que te ayudará a alcanzar tus metas">Buscador 🔍</a></li>
        <li><a href="/eventos/" title="Eventos diarios en directo que se van realizando sobre las temáticas de desarrollo, tecnología, ciberseguridad, ciencia, diseño, etc">Eventos 📆</a></li>
    </ul>
	</nav>
</header>
