<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="Logotipo de Ciberninjas. Página web escrita por Pablo Álvarez Corredera" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}
		<a class="site-title" aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
            </a>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
      <li><a href="https://es.jooble.org/" rel="follow" target="_blank" title="Encuentra trabajo como programador">Empleos ‍👩‍💻</a></li>
      <li><a href="https://es.jooble.org/" rel="follow" target="_blank" title="Encuentra trabajo como programador">Empleos ‍👩‍💻</a></li>
      <li><a href="https://es.jooble.org/" rel="follow" target="_blank" title="Encuentra trabajo como programador">Empleos ‍👩‍💻</a></li>
      <li><a href="https://es.jooble.org/" rel="follow" target="_blank" title="Encuentra trabajo como programador">Empleos ‍👩‍💻</a></li>
      <li><a href="https://es.jooble.org/" rel="follow" target="_blank" title="Encuentra trabajo como programador">Empleos ‍👩‍💻</a></li>
    </ul>

	</nav>
</header>
