---
---

@charset "utf-8";

$sans-serif : "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", Arial, serif;
$serif : "Francois One", 'Times New Roman', sans-serif;

$global-font-family : $sans-serif;
$header-font-family : $serif;

// font-family: 'Francois One', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Merriweather Sans', sans-serif;

// $serif              : "Francois One", "Helvetica Neue", 'Times New Roman', serif;
// $sans-serif-narrow  : "Overpass", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", Arial, sans-serif;
// 
// $global-font-family : $serif;
// $header-font-family : $sans-serif-narrow;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
// html
// Ocultar bloque de botones anterior y siguiente
.pagination--pager {
    display: none !important;
}

.no-lista li {
    list-style:none;
}

.page__content {
    font-size: 16px; // originally 16px
    @include breakpoint($medium) {
        font-size: 17.8px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 19px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 20px; // originally 22px
    }
}
// Cambiar el subrayado del texto.
@import "{{ site.theme }}";
::selection {
    background: rgb(236, 55, 50) !important;
    color: rgb(255, 255, 255) !important;
}
::-moz-selection {
    background:rgb(236, 55, 50) !important;
    color: rgb(255, 255, 255) !important;
}